.updatePasswordContainer {
  width: 100%;
  box-sizing: border-box;
  background-color:#ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
  }
  
  
  
  .updatePasswordHeading {
    color: rgba(0, 0, 0, 0.644);
    font: 400 1.4rem "Roboto";
    text-align: center;
    margin-top: 50px;
  }
  
  .updatePasswordForm {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 3vmax;
    justify-content: space-evenly;
    height: 100%;
    width: 40vh;
    background-color: white;
margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
  }
  
  .updatePasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .updatePasswordForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  
  .updatePasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .updatePasswordBtn {
    border: none;
    background-color: #FFAE42;
    color:white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .updatePasswordBtn:hover {
    background-color: white;
  }
  
  @media screen and (max-width: 600px) {
    .updatePasswordContainer {
      background-color: white;
    }
    .updatePasswordBox {
      width: 100vw;
      height: 95vh;
    }
  
    .updatePasswordForm {
      padding: 5vmax;
    }
  
    .updatePasswordForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .updatePasswordForm > div > svg {
      font-size: 2.8vmax;
    }
  
    .updatePasswordBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }

    .updatePasswordHeading {
      color: rgba(0, 0, 0, 0.644);
      font: 400 1.1rem "Roboto";
      text-align: center;
      margin-top: 100px;
  
  
    }

    .updatePasswordForm > div {

      margin-top: -60px;
  }

  .updatePasswordForm{
    height: 60%;
    margin-left: 20px;
    margin-right: 0px;
  }
  }